:root {
  --bg:url(mgnt.jpg) no-repeat fixed center center;
  --bgOverlay:rgba(0,0,0,0.85);
  --color:black;
  --colorIn:white;
	--bubbleColor:rgba(255,255,255,0.6);
  /* --bubbleShadow:0px 0px 20px rgba(255,255,255,0.5); */
  --bubbleShadow:none;
  --bubbleSize:65px;
  --centerPiece:200px;
  --btnSpacing:50px;
  --btnSpacingOther:300px;
}

body, html {
  font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden; 
  color:var(--color);
}
#bg {
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: var(--bg);
  background-size:cover;
  filter: grayscale(100%);
}
#bgOverlay {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: var(--bgOverlay);
}
.container {
	display: flex;
	justify-content:center;
	height: 100vh;
}

.left-panel {
	justify-content:left;
	flex: 1;
	padding: 20px;
}

.right-panel {
	justify-content:right;
	flex: 1;
	padding: 20px;
}


.center-menu {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu {
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center-btn {
	background:url('mgnt.jpg') no-repeat center center;
  background-size:cover;
  border-radius:100%;
	font-size:40px;
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: var(--centerPiece);
	height: var(--centerPiece);
  box-shadow:var(--bubbleShadow);
}

.btn {
	width: calc(var(--bubbleSize) * 2);
	height: var(--bubbleSize);
  border-radius:var(--bubbleSize);
  line-height:var(--bubbleSize);
  text-align:center;
	justify-content: center;
	color:var(--color);
	font-size:20px;
	overflow: hidden;
	cursor: pointer;
	background: var(--bubbleColor);
	display: flex;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;*/
  box-shadow:var(--bubbleShadow);
  transform:translateY(-50px) !important;
}



#btn1 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.707*var(--btnSpacingOther));
	bottom: calc(0.707*var(--btnSpacingOther));
	transform: translate(calc(-1 * var(--btnSpacing)), var(--btnSpacing))
}

#btn2 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.924*var(--btnSpacingOther));
	bottom: calc(0.383*var(--btnSpacingOther));
	transform: translate(calc(-1 * var(--btnSpacing)), var(--btnSpacing))
}

#btn3 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.924*var(--btnSpacingOther));
	bottom: calc(-0.383*var(--btnSpacingOther));
	transform: translate(calc(-1 * var(--btnSpacing)), calc(-1 * var(--btnSpacing)))
}

#btn4 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.707*var(--btnSpacingOther));
	bottom: calc(-0.707*var(--btnSpacingOther));
	transform: translate(calc(-1 * var(--btnSpacing)), calc(-1 * var(--btnSpacing)))
}

#btn5 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.707*var(--btnSpacingOther));
	bottom: calc(0.707*var(--btnSpacingOther));
	transform: translate(var(--btnSpacing), var(--btnSpacing))
}

#btn6 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.924*var(--btnSpacingOther));
	bottom: calc(0.383*var(--btnSpacingOther));
	transform: translate(var(--btnSpacing), var(--btnSpacing))
}

#btn7 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.924*var(--btnSpacingOther));
	bottom: calc(-0.383*var(--btnSpacingOther));
	transform: translate(var(--btnSpacing), calc(-1 * var(--btnSpacing)))
}

#btn8 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.707*var(--btnSpacingOther));
	bottom: calc(-0.707*var(--btnSpacingOther));
	transform: translate(var(--btnSpacing), calc(-1 * var(--btnSpacing)))
}

/* RESEARCH POSITION IN CSS */
/* css iterators by class */
/* root, var */