:root {
	--color1:white;
}

body, html {
	height: 100%;
	margin: 0;
	overflow: hidden; 
	background: #212121
}

.container {
	display: flex;
	justify-content:center;
	height: 100%;
}

.left-panel {
	justify-content:left;
	flex: 1;
	padding: 20px;
}

.right-panel {
	justify-content:right;
	flex: 1;
	padding: 20px;
}


.center-menu {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu {
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center-btn {
	color: green;
	font-size:40px;
	background-color:green;
	position:fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
}

.btn {
	width: 200px;
	height: 100px;
  border-radius:100px;
  margin:10px;
  line-height:100px;
  text-align:center;
	justify-content: center;
	color:black;
	background-color:white;
	font-size:40px;
	overflow: hidden;
	cursor: pointer;
	background: #ECEFF1;
	display: flex;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
}



#btn1 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.707*250px);
	bottom: calc(0.707*250px);
	transform: translate(-50px, 50px)
}

#btn2 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.924*250px);
	bottom: calc(0.383*250px);
	transform: translate(-50px, 50px)
}

#btn3 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.924*250px);
	bottom: calc(-0.383*250px);
	transform: translate(-50px, -50px)
}

#btn4 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	right: calc(0.707*250px);
	bottom: calc(-0.707*250px);
	transform: translate(-50px, -50px)
}

#btn5 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.707*250px);
	bottom: calc(0.707*250px);
	transform: translate(50px, 50px)
}

#btn6 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.924*250px);
	bottom: calc(0.383*250px);
	transform: translate(50px, 50px)
}

#btn7 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.924*250px);
	bottom: calc(-0.383*250px);
	transform: translate(50px, -50px)
}

#btn8 {
	position:absolute;
	/* margins need to be negative to go outside the box */
	/*
	top: (-0.924 * 300)px;
	right: (0.383 * 300)px;
	*/
	left: calc(0.707*250px);
	bottom: calc(-0.707*250px);
	transform: translate(50px, -50px)
}

/* RESEARCH POSITION IN CSS */
/* css iterators by class */
/* root, var */